
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  @apply bg-slate-50 text-slate-900;
}

.h-safe {
  height: 100vh;
  height: calc(var(--vh) * 100);
}

@keyframes pulse-subtle {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}

.animate-pulse-subtle {
  animation: pulse-subtle 2s infinite ease-in-out;
}
