@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  @apply bg-slate-50 text-slate-900;
  margin: 0;
  padding: 0;
}

.h-safe {
  height: 100vh;
  height: calc(var(--vh) * 100);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}